@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap");

:root {
  --font: "Roboto", sans-serif;
  --color-primary: #1f2937;
  --color-secondary: #3882f6;
  --text-hero-main: #f9faf8;
  --text-secondary: #e5e7eb;
  --text-info: #1f2937;
}

/* ===== CSS RESET ===== */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  display: block;
}

/* For some reason these were being displayed from the previous display block code */
title,
script {
  display: none;
}

body {
  line-height: none;
}

ol,
ul {
  list-style: none;
}

/* ===== BLOCK ===== */

body {
  font-family: var(--font);
}

header {
  background-color: var(--color-primary);
}

footer {
  background-color: var(--color-primary);
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}

#main-nav-container {
  justify-content: space-between;
  padding: 20px 0;
}

#hero-container {
  padding: 125px 0;
}

#info-cards-container {
  margin-top: 50px;
  text-align: center;
}

#cards {
  margin: 50px 0 100px 0;
  text-align: center;
  justify-content: space-around;
}

.card {
  max-width: 200px;
  font-size: 18px;
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 15px;
  border: 5px solid var(--color-secondary);
}

#quote-container {
  background-color: var(--text-secondary);
  color: var(--color-primary);
}

/* ===== ELEMENT ===== */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-hero-main);
}

p {
  color: var(--text-secondary);
}

button {
  background-color: #3882f6;
  color: var(--text-hero-main);
  font-size: 18px;
  font-weight: bold;
  padding: 8px 35px;
  border-radius: 8px;
}

header a {
  color: var(--text-secondary);
  text-decoration: none;
  font-size: 18px;
}

header a:hover {
  color: var(--color-secondary);
}

.nav-item {
  margin-left: 25px;
}

#hero-container h1 {
  font-size: 48px;
  font-weight: 900;
}

#hero-info {
  padding-right: 50px;
}

#hero-info p {
  font-size: 18px;
  margin: 10px 0;
}

#logo {
  color: var(--text-hero-main);
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
}

#info-cards-container h2 {
  color: var(--text-info);
  font-size: 36px;
  font-weight: 900;
}

#info-cards-container p {
  color: var(--text-info);
}

#quote-container blockquote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

#cta {
  background-color: var(--color-secondary);
}

/* ===== MODIFIER ===== */
